@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";

html,body{
    padding: 5px !important;
    background-color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }